* {
    margin: 0px;
    padding: 0px;
    font-size: 30px;
}



body{
    background-color: cornsilk;
    color: DarkBlue;
    font-size: 30;
}

div{
    background-color: cornsilk;
    color: DarkBlue;
    font-size: 30;

}



#readText {
    background-color: blue;
    color: cornsilk;



}
