* {
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    background-color: aqua;
}



body{
    background-color: cornsilk;
    color: DarkBlue;
    font-size: 30;
}

div{
    background-color: aqua;
    font-size: 30;

}

.button{
    background-color: #333;
    color: #fff;
    border: none;
}

.button:hover{
    color:red;
}

#readText {
    background-color: blue;
    color: cornsilk;



}
