<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gourmet Burgers</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    </head>

    <body>
        <header id="mainHeader">
            <div class="container">
                <h1>GourmetBurgers</h1>
            </div>
        </header>

        <nav id="navbar">
            <div class="container">
                <ul>
                    {% block navigationBar %}{% endblock %}
                </ul>
            </div>
        </nav>
        <nav id="navbar">
            <ul>
                {% block subnavigationBar %}{% endblock %}
            </ul>
       </nav>

        <div class="bodyToInsert">
            {% block body %}{% endblock %}
        </div>

        <footer id="mainFooter">
            <p>Copyright &copy; 2019 GourmetBurgers</p>
        </footer>

    </body>
</html>
