<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dystextia</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='testStyle.css')}}"> -->
    <link rel="stylesheet" type="text/css" href="static/style.css">

</head>

<div id="readText">
    <div class="mainRow">
    <p>{{textToRead}}</p>
    </div>
</div>

{% if textSaid|length > 0 %}
    <div class="readText">
    <p>{{textSaid}}</p>
    </div>
{% else %}
    <form method="POST">
        <input class="button" type="submit" name="btnOrderComplete" value="Complete Order">
    </form>
{% endif %}

</html>
