<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dystextia</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='testStyle.css')}}"> -->
    <link rel="stylesheet" type="text/css" href="static/style.css">

</head>

<div id="sideOptions">
    <div class="toggleColourScheme">
        change colour
    </div>
    <div class="toggleFontUp">
        font up
    </div>
    <div class="toggleFontDown">
        font down
    </div>
</div>

<div id="readText">
    <div class="secondaryRow">
    <p>{{preLine}}</p>
    </div>

    <div class="mainRow">
    <p>{{currLine}}</p>
    </div>

    <div class="secondaryRow">
    <p>{{postLine}}</p>
    </div>
</div>
</html>
